<!doctype html>
<html>
    <head>
        <title>Experience Capture Error: {{ statusCode }}</title>

        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style type="text/css">
            body {
                background-color: #000000;
                margin: 0;
                padding: 0;
                font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

            }

            div {
                width: 600px;
                margin: 5em auto;
                margin-top: 2em;
                margin-bottom: 0
                padding: 2em;
            }

            @media (max-width: 700px) {
                div {
                    margin: 0 auto;
                    margin-top: 2em;
                    width: auto;
                }
            }

            img {
                max-width: 100%;
                height: auto;
            }

            p {
                padding-left: 5rem;
                padding-right: 5rem;
            }

            a {
                color: #ffffff;
                text-decoration: underline;
            }

        </style>
    </head>
    <body>
        <div>
            <img src="https://http.cat/{{ statusCode }}.jpg" alt="Cat describing a HTTP status code.">
            <p>
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/{{ statusCode }}"
                    target="_blank"
                    rel="noopener noreferrer">
                    More information about this error.
                </a>
            </p>
            <p>
                <a href="/api/v1/openapi/ui/index.html" target="_blank" rel="noopener noreferrer">
                    API documentation.
                </a>
            </p>
        </div>
    </body>
</html>