@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap"');

body {
  margin: 0 !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-bottom: 60px !important; /* Margin bottom by footer height */
}

html {
  position: relative;
  min-height: 100%;
  background-color: #F3F0F5;
}

/*
  Fixing an issue with style components/bootstrap that causes 
  Centered Modals to have white backgrounds.
*/
.modal-dialog {
  margin: auto !important;
  background-color: #fff0 !important;
}