/* Needed for the sticky footer */
body {
  margin: 0 !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-bottom: 7rem !important; /* Margin bottom by footer height */
}

@media (min-width: 992px) {
  body {
    margin-bottom: 3rem !important; /* Margin bottom by footer height */
  }
}

html {
  position: relative;
  min-height: 100%;
  background-color: #F3F0F5;
}


/* Fixes for style bootstrap */
.font-weight-medium {
  font-weight: 500;
}

.active {
  border-bottom: 1.5px solid;
  margin-bottom: -1.5px;
  border-color: #161617;
}

.navbar-toggler {
  border: 0 !important;
}

.modal-dialog {
  background-color: rgba(0, 0, 0, 0) !important;
  margin: 10rem auto !important;
}

/* Prevents a weird animation issue */
.dropdown-toggle {
  margin-bottom: -1.5px !important;
}

.svg-inline--fa:hover {
  cursor: pointer;
}