*:2015 # Culprit for client not connecting? May need 192... IP on windows instead of localhost

log stdout

errors stdout

tls off

proxy /api/v1 api:80 {
	without /api/v1
	transparent
	header_downstream Access-Control-Allow-Origin  *
}

proxy / web:3000 {
	websocket
	transparent
}