*:2015

log stdout

errors stdout

tls off

proxy /api/v1 api:80 {
	without /api/v1
	transparent
	header_downstream Access-Control-Allow-Origin  *
}

proxy / web:3000 {
	websocket
	transparent
}

# TODO: add security headers here too